body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

.hidden {
    display: none
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

.button:hover {
    background-color: #ddf;
}

#toolbar {
    text-align: center;
    margin-bottom: 15px;
}

#chat-area {
    float: left;
    width: 600px;
    height: 300px;
}

.chat-messages {
    height: 180px;
    border-bottom: solid 2px #ddd;
    overflow: auto;
}

#chat-area input {
    margin-top: 10px;
    width: 95%;
}

#roster-area {
    float: right;
    border-left: solid 2px #ddd;
    padding: 10px;
    width: 250px;
    height: 300px;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color: #33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding: 3px;
}

.roster-contact:hover {
    background-color: #aaa;
    color: white;
}

.roster-name {
    font-size: 150%;
}

.online {
    color: #3c3;
}

.away {
    color: #c33;
}

.offline {
    color: #ccc;
}

/* MY CSS FOR LOADING ANIMATION AND ERROR MESSAGES
    Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

body.loading .modal #status{
    position:   fixed;
    z-index:    1000;
    top:        52%;
    left:       47.25%;
    height:     100%;
    width:      100%;
}

#login_dialog p{
    color:red;
    font-size:75%;
}