<footer class="footer">
	<small>
		<a href="www.google.com">Google</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="www.yahoo.com">Yahoo</a></li>
		</ul>
	</nav>
</footer>